*{
    margin: 0;
    padding: 0;
    width: 100vw;
}
#go{
    background-image: url(bluebackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
#navbar{
    display: flex;
}
#web{
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  height: 30px;
  width: 160px;
  font-size: 241%;
  position: relative;
  top: 2px;
  left: 10px;
}
#navbar{
    background-color: rgb(24, 189, 186);
    overflow-x: hidden;
}
#navbar a{
    color: rgb(29, 26, 58);
    float: inline-end;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
#navbar a:hover {
    color: black;
    background-color:rgb(11, 151, 149);
}
.box{
    width: 60px;
    margin-left: 0px;
    height: 20px;
}
input {
  height: 20px;
  padding: 10px;
  width: 320px;
  border: 1px solid #ccc;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  left: -5%;
  margin-top: 2%;
}
#bb{
  width: 134px;
  height: 45px;
  padding: 10px;
  background-color:rgb(32, 131, 130);
  color: white;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  position: relative;
  left: -9%;
  font-size: 13px;
}
button:hover {
  background-color: aquamarine;
  color: black;
}
#but{
    position: relative;
    left: 1%;
    width: 120px;
    height: 38px;
    background-color: rgb(32, 131, 130);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 6px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
#but:hover {
    background-color: rgb(72, 177, 142);
    color: black;
}
#heading{
    width: 90%;
    position: relative;
    left: 10%;
    text-align: left;
    margin-top: 7%;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(4, 70, 69);
}
#para{
    width: 600px;
    height: 130px;
    position: relative;
    left: 10%;
    margin-top: 2%;
    color: rgb(5, 47, 47);
}
form {
  text-align: center;
  margin-top: 2px;
}
#line{
    width: 40%;
    height: 4px;
    background-color: rgb(24, 189, 186);
    position: relative;
    left: 22%;
}
